*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit
duo-imgtools/kernel.bin
duo-imgtools/boot.sd
duo-imgtools/boot.vfat
